

.form {
    display: flex;
    flex-direction: column;
    padding: 10vh 20vh ;
    gap: 10px;
    
}

.form input{
    color: black;
}
.form * {
    padding: 5px;
}

.input {
    display: flex;
    width: 100%;
}

.input button {
    
    background-color: green;
   }

.form button {
    width: fit-content;
    padding: 10px;
    color: black;
    font-size: 20px;
    
}

#V_nom {
    color: red;
}

#V_tel {
    color: red;
}

.welcome {
    padding: 25vh;
}

.welcome a  {
    color:green;
}

@media (max-width: 800px) {
   .form {
    padding: 0;
   }
   .input {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

   }

   .input button {
    padding: 0%;
    background-color: green;
   }
   .input input {
    height: 30px;
   }

   .nav_child {
    display: none;
   }
   
   .home {
    display: block;
   }
  
    
  }
